<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    
    <key>CFBundleExecutable</key>
    <string>vtk</string>
    
    <key>CFBundleIdentifier</key>
    <string>com.edge.vtkios</string>
    
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    
    <key>CFBundleName</key>
    <string>vtk</string>
    
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
    
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    
    <key>CFBundleVersion</key>
    <string>1</string>
    
    <key>LSMinimumSystemVersion</key>
    <string>16.0</string>
    
    <key>NSPrincipalClass</key>
    <string></string> <!-- Leave this empty if not applicable -->
    
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>iPhoneOS</string>
        <string>iPadOS</string> <!-- or macOS, watchOS, tvOS depending on the platform -->
    </array>
    
    <key>MinimumOSVersion</key>
    <string>16.0</string> <!-- iOS version -->
    
    <key>DTSDKName</key>
    <string>iphoneos17.5</string>
</dict>
</plist>

